/*
Color scheme:
#872130 -> Primary
#272937 -> Darker
*/

.current {
    font-weight: 900;
}

#slidingLine {
    position: absolute;
    top: 0;
    right: 12px;
    width: 3px;
    padding: 0 !important;
    background-color: #872130;
}

.nounderline {
    text-decoration: none !important;
}

.color-scheme-primary {
    background-color: #872130 !important;
}

.color-scheme-darker {
    background-color: #272937 !important;
}

/* Developers Cards */
.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-size: cover;
    border-color: inherit;
}

.card-custom-img::after {
    position: absolute;
    content: '';
    top: 150px;
    left: 0;
    border-style: solid;
    border-top-width: 50px;
    border-left-width: calc(700px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 1.25rem;
    width: 150px;
    height: 150px;
}

/* About Timeline */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #872130;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline > li .timeline-image {
        left: 50%;
        margin-left: -40px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

/* Portfolio Cards */
.card {
    border: 0px;
    height: 350px;
}

.card-flip {
  perspective: 1000px;
  
}

.card-flip:hover .flip{
    transform: rotateY(180deg)
}

.card-flip,
.front,
.back {
  width: 100%;
  min-height: 350px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}



