/*
    Color scheme:
    #B49BA8 -> (Not used yet)
    #872130 -> Primary
    #AE856C -> Secondary
    #272937 -> Darker
*/
.current {
    font-weight: 900;
}

#slidingLine {
    position: absolute;
    top: 0;
    right: 15px;
    width: 3px;
    padding: 0 !important;
    background-color: #872130;
}

.nounderline {
    text-decoration: none !important;
}

.color-scheme-primary {
    background: #872130;
}

.color-scheme-secondary {
    background: #AE856C;
}

.color-scheme-darker {
    background: #272937;
}

.text-color-scheme-primary {
    color: #872130;
}

.text-color-scheme-secondary {
    color: #AE856C;
}

.text-color-scheme-darker {
    color: #272937;
}

#sidebar-wrapper{
    background-color: #272937 !important;
}

/* Cards */
.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-size: cover;
  border-color: inherit;
}

.card-custom-img::after {
  position: absolute;
  content: '';
  top: 150px;
  left: 0;
  border-style: solid;
  border-top-width: 50px;
  border-left-width: calc(700px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 1.25rem;
  width: 150px;
  height: 150px;
}
